@if (project) {
<p-panel>
    <ng-template pTemplate="header">
        <div class="w-full text-center relative">
            <p-button [label]="isUpdateActive ? 'Arreter la modification' : 'Activer la modification'"
                class="absolute top-0 right-0 -m-3" size="small" [severity]="!isUpdateActive ? 'primary' : 'danger'"
                (click)="toggleUpdate()"></p-button>
            <h2>
                <span>{{project.title | titlecase}}</span>
                <i [class]="isUpdateActive ? 'pi pi-pencil cursor-pointer text-sm align-self-center text-500 pl-2' : 'hidden'"
                    (click)="update(allUpdateTypes.Title)"></i>
            </h2>
            @if (project.endingDate) {
            <p>
                <span>{{project.endingDate| date:'dd-MM-YYYY'}}</span>
                <i [class]="isUpdateActive ? 'pi pi-pencil cursor-pointer text-sm align-self-center text-500 pl-2' : 'hidden'"
                    (click)="update(allUpdateTypes.EndingDate)"></i>
            </p>
            }@else {
            @if (isUpdateActive) {
            <p-button label="Ajouter une date de fin" size="small"
                (click)="update(allUpdateTypes.EndingDate)"></p-button>
            }
            }
        </div>
    </ng-template>

    <div class="mt-2 mb-4 border-bottom-1 border-200 text-center">
        <p>
            <span>{{project.description}}</span>
            <i [class]="isUpdateActive ? 'pi pi-pencil cursor-pointer text-sm align-self-center text-500 pl-2' : 'hidden'"
                (click)="update(allUpdateTypes.Description)"></i>
        </p>
    </div>

    <!-- Images -->
    @if(images.length > 0){
    <p-carousel [value]="images" [numVisible]="1" [numScroll]="1" [circular]="images.length > 1 ? true : false">
        <ng-template let-image pTemplate="item">
            <div class="relative text-center">
                <div [class]="isUpdateActive ? 'absolute top-0 right-0 -m-2' : 'hidden'">
                    <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="danger" size="small"
                        (click)="deleteMedia($event, image.id)"></p-button>
                </div>
                <p-image [src]="image.url" [alt]="image.title" imageClass="w-full lg:w-auto"
                    [imageStyle]="{'height': '300px'}"></p-image>
            </div>
        </ng-template>
    </p-carousel>
    }
    @if (isUpdateActive) {
    <div class="mt-2">
        <p-button label="Ajouter images" size="small" (click)="update(allUpdateTypes.Media)"></p-button>
    </div>
    }

    <!-- Videos -->
    @if(videos.length > 0){
    <div class="grid justify-content-center my-2">
        @for (vid of videos; track $index) {
        <div class="col-6 lg:col-2 relative">
            <p-image [src]="vid.url" [alt]="vid.title" imageClass="w-full"></p-image>
        </div>
        }
    </div>
    }

    <!-- Skills -->
    @if (project.skill.length > 0) {
    <div class="grid justify-content-center my-2">
        @for (skill of project.skill; track $index) {
        <div class="col-2 text-center relative">
            <p-chip [label]="skill.name"></p-chip>

            <div [class]="isUpdateActive ? 'absolute top-0 right-0 -m-2' : 'hidden'">
                <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="danger" size="small"
                    (click)="deleteSkill($event, skill.id!)"></p-button>
            </div>
        </div>
        }
    </div>
    }

    @if (isUpdateActive) {
    <div class="mt-2">
        <p-button label="Ajouter compétences" size="small" (click)="update(allUpdateTypes.Skill)"></p-button>
    </div>
    }

</p-panel>

<!-- TODO: Envoyer les medias et non la longueur au "MediaManagerComponent" et désactiver(griser) les médias déja présent dans le projet -->
<app-media-manager [hidden]="!isMediaUpdating" [maxMediaSelected]="10" [actualMediaSelected]="
this.project.media.length" (selectedMediasEvent)="getNewMedias($event)" />

<app-update-pop-up [hidden]="!isUpdating" [objectToUpdate]="project" [updateType]="updateType"
    (updateEvent)="getUpdatedProject($event)"></app-update-pop-up>
}