<p-card class="w-full lg:w-8 text-center">
    <form [formGroup]="group" class="w-full" (ngSubmit)="submit()">
        <div class="pb-4 w-full">
            <span class="p-float-label">
                <input formControlName="email" pInputText id="Email" type="email" class="validate w-full" />
                <label htmlFor="Email">Email</label>
            </span>
        </div>

        <div class="pb-4 w-full">
            <span class="p-float-label">
                <p-password formControlName="password" styleClass="w-full" inputStyleClass="validate w-full"
                    [feedback]="false" [toggleMask]="true"></p-password>
                <label for="password">Password</label>
            </span>
        </div>

        <div class="pb-4 w-full">
            <span class="p-float-label">
                <p-password formControlName="checkPassword" styleClass="w-full" inputStyleClass="validate w-full"
                    [feedback]="false" [toggleMask]="true"></p-password>
                <label for="password">Password</label>
            </span>
        </div>

        <div class="text-center">
            <p-button type="submit" label="Créer votre compte" [disabled]="!group.valid"></p-button>
        </div>
    </form>
</p-card>