<p-card header="Portfolio Creator" class="text-center">
    <!-- <ng-template pTemplate="header"></ng-template> -->

    <p class="line-height-4">
        Bienvenue,
        <p-button label="S'enregistrer" [raised]="true" size="small" (click)="register()"></p-button> pour démarrer la
        création de Portfolio
        ou
        <p-button label="Se Connecter" [raised]="true" size="small" (click)="login()"></p-button> pour accéder à vos
        Portfolios
    </p>

    <!-- <ng-template pTemplate="footer"></ng-template> -->
</p-card>