<div class="w-full h-full fixed top-0 left-0 flex justify-content-center align-items-center bg-black-alpha-70 overflow-auto"
    (click)="exit()">
    <p-card header="Ajouter des médias" class="w-10 lg:w-8 text-center" styleClass="ml-0 pl-0"
        (click)="stopPropagation($event)">
        <p-tabMenu [model]="tabItems" [activeItem]="tabItems[0]"></p-tabMenu>

        <!-- Images Viewer -->
        <!-- TODO: permettre la suppression de media -->
        <app-media-manager-content
            [hidden]="!isAddingImage" [medias]="pictures" [mediasType]="1" [maxMediaSelected]="maxMediaSelected" [actualProjectMedias]="actualProjectMedias" (addMediasEvent)="addMedia($event)"
            (removeMediasEvent)="removeMedia($event)" (resetMediasEvent)="resetMedias()"></app-media-manager-content>

        <!-- Videos Viewer -->
        <app-media-manager-content
            [hidden]="!isAddingVideo" [medias]="videos" [mediasType]="2" [maxMediaSelected]="maxMediaSelected" [actualProjectMedias]="actualProjectMedias" (addMediasEvent)="addMedia($event)"
            (removeMediasEvent)="removeMedia($event)" (resetMediasEvent)="resetMedias()"></app-media-manager-content>

        <!-- Medias selected viewer -->
        <ng-template pTemplate="footer">
            @if(actualProjectMedias != undefined){
                <p>Médias sélectionnés ({{selectedMedias.length + actualProjectMedias.length}}/{{maxMediaSelected}}):</p>
            }@else{
                <p>Médias sélectionnés ({{selectedMedias.length}}/{{maxMediaSelected}}):</p>
            }
            <div class="overflow-auto h-7rem lg:h-10rem pb-2 grid justify-content-around">
                @if(selectedMedias.length > 0){
                @for (media of selectedMedias; track $index) {
                <div class="col-6 lg:col-2">
                    <p-image [src]="media.url" [alt]="media.title" imageClass="w-full"></p-image>
                </div>
                }
                }@else {
                <p>Vous n'avez aucuns médias sélectionnés</p>
                }
            </div>
            <br>
            <p-button type="button" (click)="submit()">Valider les médias</p-button>
        </ng-template>

    </p-card>
</div>