<p-card class="w-full lg:w-8 text-center">
    <form [formGroup]="group" class="w-full" (ngSubmit)="submit()">
        <div class="pb-4 w-full">
            <span class="p-float-label">
                <input formControlName="title" pInputText id="Title" type="text" class="validate w-full">
                <label for="Title">Titre</label>
            </span>
        </div>

        <div class="pb-4 w-full">
            <span class="p-float-label">
                <textarea formControlName="description" pInputText id="Description" type="text" rows="5"
                    class="validate w-full"></textarea>
                <label for="Description">Description</label>
            </span>
        </div>

        <div class="pb-4 w-full">

            @if (media) {
                <div class="pb-4 h-8rem lg:h-10rem">
                    <p-image [src]="media.url" [alt]="media.title" imageClass="h-full"></p-image>
                </div>
                }@else {
                <p>Aucun médias sélectionnés</p>
            }

            <p-button type="button" (click)="addMedia()" [disabled]="isAddingMedia">{{media == undefined? "Ajouter image" : "Modifier Image"}}</p-button>
        </div>

        <div>
            <p-button type="submit" [disabled]="!group.valid">Valider et passer à l'ajout de projets</p-button>
        </div>
    </form>
</p-card>

<app-media-manager [hidden]="!isAddingMedia" [maxMediaSelected]="1" [actualMediaSelected]="
0" [videoIsAvailable]="false" (selectedMediasEvent)="getMedias($event)" />