<!-- TODO: permettre l'update du portfolio -->
@if (portfolio) {
<p-panel>
    <ng-template pTemplate="header">
        <div class="w-full text-center relative">
            <p-button [label]="isUpdateActive ? 'Arreter la modification' : 'Activer la modification'"
                class="absolute top-0 right-0" size="small" (click)="toggleUpdate()"></p-button>
            <h2 class="flex justify-content-center">
                <span class="pr-2">{{portfolio.title | titlecase}}</span>
                <i [class]="isUpdateActive ? 'pi pi-pencil cursor-pointer text-sm align-self-center text-500' : 'hidden'"
                    (click)="update(portfolioUpdateType.Title)"></i>
            </h2>

            <p class="text-sm text-500">{{portfolio.creationDate| date:'dd-MM-YYYY'}}</p>
            <p class="border-top-1 border-400 pt-2">{{portfolio.description}} <i
                    [class]="isUpdateActive ? 'pi pi-pencil cursor-pointer text-sm align-self-center text-500' : 'hidden'"
                    (click)="update(portfolioUpdateType.Description)"></i>
            </p>
        </div>
    </ng-template>

    @if (portfolio.projects.length > 0) {
    <div class="grid justify-content-around">

        @for (project of portfolio.projects; track $index) {
        <p-panel class="col-12 lg:col-5 cursor-pointer p-0 mx-1 my-2" (click)="navigateToProjectDetails(project.id)">
            <ng-template pTemplate="header">
                <div [class]="isUpdateActive ? 'absolute top-0 right-0 -m-2' : 'hidden'">
                    <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="danger" size="small"
                        (click)="delete($event, project.id)"></p-button>
                </div>

                <div>
                    <h4 class="m-0">{{project.title | titlecase}}</h4>
                </div>
            </ng-template>

            <ng-template pTemplate="content">
                <div>
                    <p>{{project.description}}</p>
                    <p>{{project.creationDate | date:'dd-MM-YYYY'}}</p>
                </div>
            </ng-template>
        </p-panel>
        }
    </div>

    }@else {
    <p>Aucun projets dans ce portfolio actuellement</p>
    }

    <ng-template pTemplate="footer">
        <p-button label="Ajouter un nouveau projet" (click)="navigateToProjectCreation(portfolio.id)"></p-button>
    </ng-template>
</p-panel>

<app-portfolio-update-pop-up [hidden]="!isUpdating" [portfolioToUpdate]="portfolio" [updateType]="updateType" (updateEvent)="getUpdatedPortfolio($event)"></app-portfolio-update-pop-up>
}